/*  typography Starts Here*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: $primaryFont;
    font-size: 16px;
    line-height: 24px;
    color: $primaryText;
    -webkit-font-smoothing: antialiased;
}

p,
.paragraph {
    font-family: $primaryFont;
    font-weight: 400;
    color: $primaryText;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primaryFont;
    font-weight: 700;
    color: $primaryText;
}
/*  typography Ends Here*/