// Text Color Variables
$primaryText: #002333; 
$secondaryText: #00ff84;
$whiteText: #ffffff;
$mutedText: #dcdee1;
$tertiaryText: #3722d3;

// Background Color Variables
$primaryBg: #002333;
$secondaryBg: #00ff84;
$tertiaryBg: #3722d3;

// Border Color Variables
$primaryBorder: #3722d3;

// Font Variables
$primaryFont: 'IBM Plex Sans', sans-serif;